.App {
    margin: 0;
    background: linear-gradient(60deg,rgba(152, 250, 255, 0.797),rgb(151, 151, 151));
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

h1{
    font-weight: 600;
    font-family: Trajan-pro, sans-serif;
}

.card {
    display: grid;
    grid-template: repeat(6, 1fr)/repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    opacity: 80%;
    width: 600px;
    height: 250px;
    background: white;
    border-radius: 8px;
    box-shadow: #000000 0px 0px 5px 0px;
    padding: 50px 50px;
    gap: 50px;
}

label{
    position: relative;
    left: 100px;
    font-weight: 600;
    font-family: Deco, sans-serif;
}

input{
    position: relative;
    right: 50px;
    background-color: white;
    width: 240px;
    height: 36px;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgb(171, 171, 171);
    color: black;
}

.submit {
    position: relative;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    height: 36px;
    width: 150px;
    background-color: rgb(0, 113, 128);
}

.submit:hover {
    color: rgb(0, 113, 128);
    border: 0.1px solid rgb(0, 113, 128);
    background-color: white;
}

.reset {
    position: relative;
    left: 130px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: white;
    height: 36px;
    width: 150px;
    background-color: rgb(128, 9, 0);
}

.reset:hover {
    color: rgb(128, 9, 0);
    border: 0.1px solid rgb(128, 9, 0);
    background-color: white;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 80%;
    width: 500px;
    height: 60px;
    background: white;
    border-radius: 8px;
    box-shadow: #000000 0px 0px 5px 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2{
    position: relative;
    bottom: 20px;
    font-weight: 400;
    font-size: 20px;
    font-family: Ancherr;
    margin-bottom: -20px;
}

h3{
    position: absolute;
    top: 700px;
    font-weight: 300;
    font-size: 20px;
    font-family: Avenger;
}